[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
cookiecutter = "*"
defusedxml = "*"
jsonschema = "*"
pypng = "*"
"e1839a8" = {path = ".", editable = true}
"ruamel.yaml" = "*"
wheel = "*"
xmltodict = "*"

[dev-packages]
twine = "*"

[requires]
python_version = "3.6"
